[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CREAM"]
	path = CREAM
	url = https://github.com/bhklab/cream
[submodule "mRMRe"]
	path = mRMRe
	url = https://github.com/bhklab/mrmre
