[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "CREAM"]
	path = CREAM
	url = https://github.com/bhklab/cream
	shallow = true
	registered = true
[submodule "consensusOV"]
	path = consensusOV
	url = https://github.com/bhklab/consensusov
	shallow = true
	registered = true
